html {
overflow-y: scroll;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

.global-header {
background: #333;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(18%, #515151), color-stop(85%, #373737), color-stop(100%, #333333));
background-image: -webkit-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
background-image: -moz-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
background-image: -o-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
background-image: linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
-webkit-box-shadow: 0 0 10px #333;
-moz-box-shadow: 0 0 10px #333;
box-shadow: 0 0 10px #333;
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
z-index: 10001;
height: 42px;
position: fixed;
top: 0;
width: 100%;
}

#header .a11y-content, #header .a11y-content p {
text-indent: -119988px;
overflow: hidden;
text-align: left;
height: 0;
}

.nav-v5-2-header{
background: none;
}

body
{
font-size: 62.5%;
line-height: 1.2;
color: #000;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

h2 {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}


body, div, h2, ul, li, a{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
vertical-align: baseline;
-webkit-text-size-adjust: 100%;
font-family: Arial,sans-serif;
}

.global-header .nav.guest-nav {
float: right;
}

.nav-v5-2-header #top-header {
background-color: #3f3f3f;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3f3f3f));
background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);
background-image: -o-linear-gradient(top, #696969 0%,#3f3f3f 100%);
background-image: linear-gradient(top, #696969 0%,#3f3f3f 100%);
height: 42px;
}

#top-header {
z-index: 2;
position: relative;
}

#top-header>.wrapper {
z-index: 3;
}

.global-header .wrapper {
margin-left: auto;
margin-right: auto;
width: 974px;
position: relative;
}

#body, .primary, .wrapper {
clear: both;
}

.global-header .wrapper:after {
content: " 0020";
display: block;
height: 0;
clear: both;
overflow: hidden;
visibility: hidden;
}

ol, ul {
list-style: none;
}

.nav-v5-2-header #in-logo, #in-premium-logo, #li-logo {
margin-left: 0px;
margin-right: 5px;
}

#in-logo, #in-premium-logo, #li-logo {
text-indent: -119988px;
overflow: hidden;
text-align: left;
margin-top: 3px;
background: url(logo_in_nav_44x36.png) left center no-repeat;
display: block;
height: 36px;
width: 44px;
position: relative;
left: -1px;
float: left;
}

#li-logo {
background: url(logo_linkedin_flat_white_93x21.png) left center no-repeat;
width: 93px;
}

a:visited, #footer a:visited {
color: #069;
}

a {
color: #0077b5;
text-decoration: none;
}

.global-header .nav .nav-link {
padding-top: 13px;
padding-bottom: 14px;
color: #0077b5;
text-decoration: none;
cursor: pointer;
display: block;
}


.nav-v5-2-header .nav .nav-link {
padding-left: 10px;
padding-right: 10px;
color: #D7D7D7;
}

.nav-v5-2-header .nav .nav-link:hover , .nav-v5-2-header .nav .nav-link:focus {
color: #2e8dd7;
z-index:4;
}

.global-header .nav .nav-link.lu-state-hover, .global-header .nav .nav-link.hover, .global-header .nav .nav-link:hover, .global-header .nav .nav-link.lu-state-focus, .global-header .nav .nav-link.focus, .global-header .nav .nav-link:focus {
text-decoration: none;
}

.global-header .nav .nav-item {
float: left;
line-height: 13px;
position: relative;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}