.setarea{
	float:centre;
	margin-top: 175px;
	margin-left: 500px;
	background-image: url('../img/252231_1002029915278_1941483569_n.jpg') no-repeat scroll top left transparent;
	
}

#php_user
{
	display:none;
}